.weather-overview-card {
  background: linear-gradient(135deg, #fff9c4, #ffeb3b);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
  color: #333;
  border: 1px solid #fdd835;
}

.forecast-title {
  font-size: 2rem;
  color: #f57f17;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.forecast-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.forecast-card {
  background: #fffde7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  width: 200px;
  text-align: center;
  color: #333;
  border: 1px solid #fbc02d;
}

.forecast-card h4 {
  font-size: 1.2rem;
  color: #f57f17;
}

.forecast-card p {
  font-size: 1rem;
  color: #666;
}
